{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:create' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <p>{{ field.errors }}</p>
                <div>{{ field.label_tag }}</div>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Create New Entry">
    </form>
{% endblock %}