{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:edit' title %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <p>{{ field.errors }}</p>
                <div>{{ field.label_tag }}</div>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Save Change">
    </form>
{% endblock %}